.app-container {
  padding: 4rem 2rem; 
  max-width: 1200px; 
  margin: 0 auto; 
  text-align: left; 
  min-height: 100vh;
  padding-bottom: 8rem; 

}


.filter-container {
  display: flex;
  gap: 15px;
  background: #fafffa;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  border: 1px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.filter-container select {
  padding: 10px 15px;
  background:#fafaff;;
  color: rgb(15, 11, 11);
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
  transition: border-color 0.2s;
}

.filter-container select:hover {
  border-color: #646cff;
}


.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
}

.task-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ffdddf;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  border-color: #646cff;
   padding: 12px;
   border-radius: 8px;
}

.task-card h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #191616;
}

.task-card p {
  margin: 0;
  color: #888;
  font-size: 0.9rem;
  line-height: 1.5;
}


.task-card select {
  width: 20%;
  padding: 8px;
  background: #faffff;
  color: rgb(23, 19, 19);
  border: 1px solid #444;
  border-radius: 4px;
}

.task-card button {
  background: #ffffff;
  color: #ff6464;
  border: 1px solid #4a1c1c;
  padding: 8px;
  font-weight: bold;
  margin-top: 4px;
  width: 15%;
  margin-left: auto;
}

.task-card button:hover {
  background: #ff6464;
  color: rgb(32, 29, 29);
}